#box1{
    text-align: center;
    text-shadow: 2px 2px black
}

#box2{
    position: relative;
    left: 400px;
    width: 500px;
    text-align: center;
    border: 2px solid black;
    display:inline-block;
}
#box3{
    position: relative;
    border: 1px solid white;
    left: 520px;
}